<div class="top container">
  <div class="image">
    <div style="background: url('https://dummyimage.com/200/df81a2/fff'); background-size: cover; background-position: 50%;"></div>
    <div class="user">
      <div class="name">
        <a href="#">
          渡辺はるかさん
        </a>
      </div>
      <div class="listing">
        <a href="#">出品数１</a>
      </div>
      <div class="comment">
        <p>コードキャンプの渡辺はるかです。よろしくね🎶</p>
      </div>
    </div>
  </div>
  
  <div class="mypage">
    <h3>マイページ</h3>
    <ul>
      <li><a href="#">出品する</a></li>
      <li><a href="#">出品中の商品</a></li>
      <li><a href="#">お気に入りの商品</a></li>
      <li><a href="#">プロフィール更新</a></li>
      <li><a href="#">サインアウト</a></li>
    </ul>
  </div>
</div>